:root {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
}

.morning {
  --color: #ffffff;
  --bg: #DEE9F1;
  --bg-header: #F4CE2F;
  --bg-header-img: url("https://images.unsplash.com/photo-1549483249-f0b359d1e289?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80");
}

.afternoon {
  --color: #ffffff;
  --bg: #CAE8FF;
  --bg-header: #586AEB;
  --bg-header-img: url("https://images.unsplash.com/photo-1565467581544-9af37aa6014b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1274&q=80");
}

.evening {
  --color: #ffffff;
  --bg: #FCE278;
  --bg-header: #FA7800;
  --bg-header-img: url("https://images.unsplash.com/photo-1543158266-0066955047b1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80");
}

.night {
  --color: #ffffff;
  --bg: #000000;
  --bg-header: #161B3D;
  --bg-header-img: url("https://images.unsplash.com/photo-1506606401543-2e73709cebb4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80");
}
